<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" data-dnd="true">

  <head>
    <style type="text/css">

    </style>
  </head>
  <body>

  </body>

  <div class="prolog">
    {{prolog}}
  </div>
  <div class="body">
    {{body}}
  </div>

  <div class="epilog">
    {{epilog}}
  </div>

</html>
